.profile__info {
    padding: 0;
    margin: auto;
    align-items: baseline;
    display: grid;
    grid-template-columns: 1fr min-content;
    max-width: 87.5%;
    gap: 14px 5px;
}

@media screen and (min-width: 480px) {
    .profile__info {
        gap: 16px 17px;
        max-width: 336px;
        margin: 0;
        align-content: center;
      } 
    } 
    
  